:host {

}

a {
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    -webkit-user-drag: none;
}

:host(:hover),
:host([active]) {
    background-color: #eee;
    box-shadow: inset 0px 1px 0 0px #dedede, inset 0px -1px 0 0px #dedede;
}

::slotted([slot="icon"]) {
    width: 1.25rem;
    height: 1.25rem;
}

::slotted(*) {
    font-size: 0.875rem;
    color: #646464;
}

.window-aside-item-icon {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}

.window-aside-item-label {
    white-space: nowrap;
    overflow: hidden;
}